<!DOCTYPE html>
<html>
    <head >
        <link rel="stylesheet" type="text/css" href="/stil.css" />
        <title>Index</title>
    </head>
    <body class = "interfata">
    
    <div class = "title">
        <p><h1  class = "h1start"> Cele mai bune materiale de construcții </h1></p>
    </div>
         <%- body %>
    </body>
    
    

</html>