<div>
    <p>Aceasta este lista ta: </p>
    <table><tr><td>Nume</td></tr>
    <% for(let i = 0; i <= lista.length; i++) { %>
        <tr><td><%= lista[i] %> </tr></td>
        <% } %>
    </table>
</div>
    <p>Valoare cosului tﾄブ este: <%= total %></p>
<a href="/selectFromDB">ﾃ始apoi la cumpﾄビﾄフuri</a>